@import 'mixin/mixin';
@import 'settings/colors';
@import 'settings/breakpoints';

@import 'components/reset';
@import 'components/grids';
@import 'components/background';
@import 'components/typography';


.wrapperPage{
	width:100%;
	max-width:1366px;
	margin:0 auto;
}
.marginPage{
	padding:0px 0px;
}

body{
	/*background-color: color(red,base);*/ /*palette*/
	/*background-color: color(yellow);*/ /*color*/
	
	/*@include prefix(transform, translateY(-50%), webkit ms moz);*/
	
	/*
	@include responsive ('small'){
		body{
			background:#000;
		}
	}
	*/
}