/**
 * style.scss Style
 *
 * Write a description
 */
 
 /*
 * INDEX
 * - title
 * - title
 */

@import 'import/import';

body{
	/*background-color:color(black,base);*/ /*palette*/

	/*
	@include responsive ('small'){
		body{
			background:#000;
		}
	}
	*/
}
