.ta-l{text-align: left;}
.ta-c{text-align: center;}
.ta-r{text-align: right;}
@include responsive ('large'){
  .ta-l-l{text-align: left;}
  .ta-l-c{text-align: center;}
  .ta-l-r{text-align: right;}
}
@include responsive ('medium'){
  .ta-m-l{text-align: left;}
  .ta-m-c{text-align: center;}
  .ta-m-r{text-align: right;}
}
@include responsive ('small'){
  .ta-s-l{text-align: left;}
  .ta-s-c{text-align: center;}
  .ta-s-r{text-align: right;}
}

// vertical-align
.va-t{vertical-align: top;}
.va-m{vertical-align: middle;}
.va-b{vertical-align: bottom;}
@include responsive ('large'){
  .va-l-t{vertical-align: top;}
  .va-l-m{vertical-align: middle;}
  .va-l-b{vertical-align: bottom;}
}
@include responsive ('medium'){
  .va-m-t{vertical-align: top;}
  .va-m-m{vertical-align: middle;}
  .va-m-b{vertical-align: bottom;}
}
@include responsive ('small'){
  .va-s-t{vertical-align: top;}
  .va-s-m{vertical-align: middle;}
  .va-s-b{vertical-align: bottom;}
}
