
.ratio{
  height: 0px;
}
.ratio--16x9 {
    padding-bottom: 56.25%;
}
.ratio--4x3 {
    padding-bottom: 75%;
}

// square
.square{
  width: 100%;
  padding-bottom: 100%;
}

// hide/show responsive
.hide-l,
.d-n-l{
  @include responsive ('large'){
    display: none;
  }
}
.hide-m,
.d-n-m{
  @include responsive ('medium'){
    display: none;
  }
}
.hide-s,
.d-n-s{
  @include responsive ('small'){
    display: none;
  }
}

.show-l,
.d-b-l{
  display: none;
  @include responsive ('large'){
    display: block;
  }
}
.show-m,
.d-b-m{
  display: none;
  @include responsive ('medium'){
    display: block;
  }
}
.show-s,
.d-b-s{
  display: none;
  @include responsive ('small'){
    display: block;
  }
}
