/**
 * helpers/_backgrounds.scss Helpers - Backgrounds
 *
 * Write a description
 */

/**
 * INDEX
 * - [title]
 */

.bg-image,
.bg-img
{
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}