/**
 * helpers/_colors.scss Helpers - Colors
 *
 * Write a description
 */

 /*
 * INDEX
 * - text
 * - background
 * - border
 */

.text-black, .t-black {color: $black;}
.text-white, .t-white {color: $white;}
.text-red, .t-red {color: $red;}
.text-blue, .t-blue {color: $blue;}

.background-black, .bg-black { background-color: $black; }
.background-white, .bg-white { background-color: $white; }
.background-red, .bg-red { background-color: $red; }
.background-blue, .bg-blue { background-color: $blue; }

.border-black, .b-black { border: 1px solid $black; }
.border-white, .b-white { border: 1px solid $white; }
.border-red, .b-red { border: 1px solid $red; }
.border-blue, .b-blue { border: 1px solid $blue; }
