@import "../../styles/settings/colors";

#header{
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $c_light;
    background-color: #ffffff;

    .logo{
        > a{
            font-size: 0.6vw;
            font-weight: bold;
            color: blue;
        }
        .tag{
            font-size: 0.5vw;
            font-weight: bold;
            color: #a9a9a9;

            padding-left: 6%;            
        }
    }
}

.menuMain{

    > li{
        padding:0px 25px;

        &:first-child{
            padding-left: 0px;
        }
        &:last-child{
            padding-right: 0px;
        }
    }
}