/**
 * animations/_animations.scss Animations - Animations
 *
 * Write a description
 */

/**
 * INDEX
 * - vars
 * - animation
 * - viewport
 */

// vars
$animation-duration: 1s;
$animation-ease: cubic-bezier(0.43, 0.2, 0.02, 1);
$animation-delay: 0.5s;

$animation-list:
    fadeIn,
    fadeOut,
    scaleUp,
    slideTop,
    slideBottom,
    slideLeft,
    slideRight;

// animation

.animation-fadeIn,
.animation-scaleUp,
.animation-slideTop,
.animation-slideBottom,
.animation-slideLeft,
.animation-slideRight{
    opacity: 0;
}

@each $animation in $animation-list {
    .animation-#{$animation} {
      animation-name: $animation;
      animation-duration: $animation-duration;
      animation-timing-function: $animation-ease;
      animation-delay: $animation-delay;
      animation-fill-mode: forwards;
    }
}

// viewport

.viewport{ animation-name: none; animation-delay: 0s; }
.viewport.is-in-viewport {
    @each $animation in $animation-list {
        &.animation-#{$animation} {
            animation-name: $animation;
        }
    }
}