/**
 * grids/_gridFlex.scss Grids - Grid Flex
 *
 * Write a description
 */

/*
 * INDEX
 * - flex item
 * - flex wrap
 * - flex alignments
 * - flex directions
 * - flex col
 * - flex gutter
 * - flex offset
 * - flex gap
 */

/**
 * flex item
 */

 .flex {
  display: flex;
  flex-flow: row wrap; /* flex-direction: row; + flex-wrap: wrap; */
  
  @for $i from 0 through 12 {
    // .item.item-1
    // <div class="item item-1">
    .item.item-#{$i} {
      flex-grow: #{$i};
      flex-basis: 0;
    }
  }

  @each $class, $media in $breakpoints_shorts_legacy {
    @media #{$media} {
      @for $i from 0 through 12 {
        // .item.item-s-1
        // <div class="item item-s-1">
        .item.item#{$class}#{$i} {
          flex-grow: #{$i};
          flex-basis: 0;
        }
      }
    }
  }

}

/**
 * flex wrap
 */

.flex.nowrap { flex-wrap: nowrap; }

/**
 * flex alignments
 */

.flex.top { align-items: flex-start; }
.flex.middle { align-items: center; }
.flex.bottom { align-items: flex-end; }
.flex.stretch { align-items: stretch; }
.flex.left { justify-content: flex-start; }
.flex.center { justify-content: center; }
.flex.right { justify-content: flex-end; }
.flex.justify { justify-content: space-between; }
.flex.space { justify-content: space-around; }

@each $class, $media in $breakpoints_shorts {
  @media #{$media} {
    // .flex.sm:top
    // <div class="flex sm:top">
    .flex#{$class}top{ align-items: flex-start; }
    .flex#{$class}middle{ align-items: center; }
    .flex#{$class}bottom{align-items: flex-end;}
    .flex#{$class}stretch{align-items: stretch;}
    .flex#{$class}left{justify-content: flex-start;}
    .flex#{$class}center{justify-content: center;}
    .flex#{$class}right{justify-content: flex-end;}
    .flex#{$class}justify{justify-content: space-between;}
    .flex#{$class}space{justify-content: space-around;}
  }
}

/**
 * flex directions
 */

.flex.row{flex-direction: row}
.flex.row-reverse{flex-direction: row-reverse}
.flex.column{flex-direction: column}
.flex.column-reverse{flex-direction: column-reverse}

@each $class, $media in $breakpoints_shorts {
  @media #{$media} {
    // .flex.sm:column
    // <div class="flex sm:column">
    .flex#{$class}row{flex-direction: row}
    .flex#{$class}row-reverse{flex-direction: row-reverse}
    .flex#{$class}column{flex-direction: column}
    .flex#{$class}column-reverse{flex-direction: column-reverse}
  }
}

/**
 * flex col
 */

$gutter: 20px; // Define columns gutter

.flex .col{ min-height: 1px; }

@for $i from 0 through 12 {
  // .col-1
  // <div class="col-1">
  .flex .col-#{$i} {
    flex: 0 0 (100% / 12 * $i);
    @if $i == 12 {
      padding-left: 0px;
      padding-right: 0px;
    } @else {
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
    }

    &:first-of-type { padding-left: 0px; }
    &:last-of-type { padding-right: 0px; }
  }
}

.flex {
  @include responsive("xbig") {
    @for $i from 0 through 12 {
      $width: 100% / 12 * $i;

      .col-xb-#{$i},
      .xb\:col-#{$i} {
        flex: 0 0 $width;
        @if $i == 12 {
          padding-left: 0px;
          padding-right: 0px;
        } @else {
          padding-left: $gutter / 2;
          padding-right: $gutter / 2;
        }

        &:first-of-type {
          padding-left: 0px;
        }
        &:last-of-type {
          padding-right: 0px;
        }
      }
    }
  }

  @include responsive("large") {
    @for $i from 0 through 12 {
      $width: 100% / 12 * $i;

      .col-l-#{$i},
      .lg\:col-#{$i} {
        flex: 0 0 $width;
        @if $i == 12 {
          padding-left: 0px;
          padding-right: 0px;
        } @else {
          padding-left: $gutter / 2;
          padding-right: $gutter / 2;
        }

        &:first-of-type {
          padding-left: 0px;
        }
        &:last-of-type {
          padding-right: 0px;
        }
      }
    }
  }

  @include responsive("medium") {
    @for $i from 0 through 12 {
      $width: 100% / 12 * $i;

      .col-m-#{$i},
      .md\:col-#{$i} {
        flex: 0 0 $width;
        @if $i == 12 {
          padding-left: 0px;
          padding-right: 0px;
        } @else {
          padding-left: $gutter / 2;
          padding-right: $gutter / 2;
        }

        &:first-of-type {
          padding-left: 0px;
        }
        &:last-of-type {
          padding-right: 0px;
        }
      }
    }
  }

  @include responsive("small") {
    @for $i from 0 through 12 {
      $width: 100% / 12 * $i;

      .col-s-#{$i},
      .sm\:col-#{$i}{
        flex: 0 0 $width;
        @if $i == 12 {
          padding-left: 0px;
          padding-right: 0px;
        } @else {
          padding-left: $gutter / 2;
          padding-right: $gutter / 2;
        }

        &:first-of-type {
          padding-left: 0px;
        }
        &:last-of-type {
          padding-right: 0px;
        }
      }
    }
  }
}

/**
 * flex gutter
 */

.flex.gutter-0 .col{
  padding-left: 0px;
  padding-right: 0px;
}

@each $class, $media in $breakpoints_shorts_legacy {
  @media #{$media} {
    // .flex.gutter-s-0 .col
    // <div class="flex .gutter-s-0">
    .flex.gutter#{$class}0 .col{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

@each $class, $media in $breakpoints_shorts {
  @media #{$media} {
    // .flex.sm:gutter-0 .col
    // <div class="flex sm:gutter-0">
    .flex#{$class}gutter-0 .col{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

/**
 * flex offset
 */

@for $i from 0 through 12 {
  .flex .offset-#{$i} { margin-left: ($i / 12) * 100%; }
}

@each $class, $media in $breakpoints_shorts_legacy {
  @media #{$media} {
    @for $i from 0 through 12 {
      .flex .offset#{$class}#{$i} { margin-left: ($i / 12) * 100%; }
    }
  }
}

@each $class, $media in $breakpoints_shorts {
  @media #{$media} {
    @for $i from 0 through 12 {
      .flex #{$class}offset-#{$i} { margin-left: ($i / 12) * 100%; }
    }
  }
}

/**
 * flex col xN
 */

@for $i from 1 through 8 {
    .col-x#{$i} { flex: 0 0 100% / $i; }
}

@each $class, $media in $breakpoints_shorts_legacy {
  @media #{$media} {
    @for $i from 0 through 8 {
      .col#{$class}x#{$i} { flex: 0 0 100% / $i; }
    }
  }
}

@each $class, $media in $breakpoints_shorts {
  @media #{$media} {
    @for $i from 0 through 8 {
      #{$class}col-x#{$i} { flex: 0 0 100% / $i; }
    }
  }
}

/**
 * flex gap
 */

.flex.gap{ flex-wrap: nowrap; }

@for $i from 0 through 12 {
  .flex.gap.gap-#{$i * 5}{
    gap: #{$i * 5}px;
    @if $i == 0 { flex-wrap: wrap; }
  }
}

@each $class, $media in $breakpoints_shorts_legacy {
  @media #{$media} {
    @for $i from 0 through 12 {
      .flex.gap.gap#{$class}#{$i * 5}{
        gap: #{$i * 5}px;
        @if $i == 0 { flex-wrap: wrap; }
      }
    }
  }
}

@each $class, $media in $breakpoints_shorts {
  @media #{$media} {
    @for $i from 0 through 12 {
      .flex.gap#{$class}gap-#{$i * 5}{
        gap: #{$i * 5}px;
        @if $i == 0 { flex-wrap: wrap; }
      }
    }
  }
}

.flex.gap > .col{
  flex-grow: unset;
  flex-basis: unset;
  flex-shrink: unset;
  padding-left: 0px;
  padding-right: 0px;
}

@for $i from 0 through 12 {
  .flex.gap > .col-#{$i} { width: 100% / 12 * $i; }
}

@each $class, $media in $breakpoints_shorts_legacy {
  @media #{$media} {
    @for $i from 0 through 12 {
      .flex.gap > .col#{$class}#{$i}{ width: 100% / 12 * $i; }
    }
  }
}

@each $class, $media in $breakpoints_shorts {
  @media #{$media} {
    @for $i from 0 through 12 {
      .flex.gap > #{$class}col-#{$i}{ width: 100% / 12 * $i; }
    }
  }
}

@for $i from 1 through 8 {
  .flex.gap > .col-x#{$i} { width: 100% / $i; }
}

@each $class, $media in $breakpoints_shorts_legacy {
  @media #{$media} {
    @for $i from 1 through 8 {
      .flex.gap > .col#{$class}x#{$i} { width: 100% / $i; }
    }
  }
}

@each $class, $media in $breakpoints_shorts {
  @media #{$media} {
    @for $i from 1 through 8 {
      .flex.gap > #{$class}col-x#{$i} { width: 100% / $i; }
    }
  }
}