/**
 * settings/_colors.scss Colors
 *
 * Write a description
 */

$palettes: (
  black: (
    base: #000000
  )
	/*
	blue: (
    darker: #333333,
    dark: #333333,
    base: #333333,
    light: #333333,
    lighter: #333333
  )
	*/
);
