.flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-flow: row;
  flex-flow: row; /* flex-direction: row; + flex-wrap: initial; s*/

  .item.item-1{
    flex-grow: 1;
  }
  .item.item-2{
    flex-grow: 2;
  }
}

.flex{
  $gutter: 10px;
  @for $i from 1 through 12{
    $width: 8.3333% * $i;
    .col.col-#{$i}  {
			@if $i == 6{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%; /*round up 49.9998*/
        -ms-flex: 0 0 50%; /*round up 49.9998*/
        flex: 0 0 50%; /*round up 49.9998*/
			}@else if $i == 12{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%; /*round up 99.9998*/
        -ms-flex: 0 0 100%; /*round up 99.9998*/
        flex: 0 0 100%; /*round up 99.9998*/
			}@else{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 $width; /*round up 49.9998*/
        -ms-flex: 0 0 $width; /*round up 49.9998*/
        flex: 0 0 $width; /*round up 49.9998*/
			}
			padding-left:$gutter;
			padding-right:$gutter;
		}
  }
}
