/**
 * grid/_gridFlex.scss Grid Flex
 *
 * Write a description
 */

.flex{
  display: flex;
  flex-flow: row wrap; /* flex-direction: row; + flex-wrap: wrap; s*/

  .item.item-1{
    flex-grow: 1;
    flex-basis: 0;
  }
  .item.item-2{
    flex-grow: 2;
    flex-basis: 0;
  }
  @include responsive ('xbig'){
    .item.item-xb-1{
      flex-grow: 1;
      flex-basis: 0;
    }
    .item.item-xb-2{
      flex-grow: 2;
      flex-basis: 0;
    }
  }
  @include responsive ('large'){
    .item.item-l-1{
      flex-grow: 1;
      flex-basis: 0;
    }
    .item.item-l-2{
      flex-grow: 2;
      flex-basis: 0;
    }
  }
  @include responsive ('medium'){
    .item.item-m-1{
      flex-grow: 1;
      flex-basis: 0;
    }
    .item.item-m-2{
      flex-grow: 2;
      flex-basis: 0;
    }
  }
  @include responsive ('small'){
    .item.item-s-1{
      flex-grow: 1;
      flex-basis: 0;
    }
    .item.item-s-2{
      flex-grow: 2;
      flex-basis: 0;
    }
  }

}

// flex wrap
.flex.nowrap{
  flex-wrap:nowrap;
}

// flex alignments
.flex.top{
  align-items: flex-start;
}
.flex.middle{
  align-items: center;
}
.flex.bottom{
  align-items: flex-end;
}
.flex.stretch{
  align-items: stretch;
}

.flex.left{
  justify-content: flex-start;
}
.flex.center{
  justify-content: center;
}
.flex.right{
  justify-content: flex-end;
}
.flex.justify{
  justify-content: space-between;
}
.flex.space{
  justify-content: space-around;
}

// flex col
.flex{
  $gutter: 10px;
  @for $i from 1 through 12{
    $width: 8.3333% * $i;
    .col.col-#{$i}  {
			@if $i == 6{
        flex: 0 0 50%; /*round up 49.9998*/
			}@else if $i == 12{
        flex: 0 0 100%; /*round up 99.9998*/
			}@else{
        flex: 0 0 $width; /*round up 49.9998*/
			}
			//padding-left:$gutter;
			//padding-right:$gutter;
		}
    /*
    .col.col-#{$i}:first-of-type{
			padding-left: 0px;
		}
		.col.col-#{$i}:last-of-type{
			padding-right: 0px;
		}
    */
    //Responsive xbig
    .col.col-xb-#{$i}{
      @if $i == 6{
        @include responsive ('xbig'){
          flex: 0 0 50%; /*round up 49.9998*/
        }
      }@else if $i == 12{
        @include responsive ('xbig'){
          flex: 0 0 100%; /*round up 99.9998*/
        }
      }@else{
        @include responsive ('xbig'){
          flex: 0 0 $width; /*round up 49.9998*/
        }
      }
      //padding-left:$gutter;
      //padding-right:$gutter;
    }
    //Responsive large
    .col.col-l-#{$i}{
			@if $i == 6{
        @include responsive ('large'){
          flex: 0 0 50%; /*round up 49.9998*/
        }
			}@else if $i == 12{
        @include responsive ('large'){
          flex: 0 0 100%; /*round up 99.9998*/
        }
			}@else{
        @include responsive ('large'){
          flex: 0 0 $width; /*round up 49.9998*/
        }
			}
			//padding-left:$gutter;
			//padding-right:$gutter;
		}
    /*
    .col.col-l-#{$i}:first-of-type{
			padding-left: 0px;
		}
		.col.col-l-#{$i}:last-of-type{
			padding-right: 0px;
		}
    */
    //Responsive medium
    .col.col-m-#{$i}{
			@if $i == 6{
        @include responsive ('medium'){
          flex: 0 0 50%; /*round up 49.9998*/
        }
			}@else if $i == 12{
        @include responsive ('medium'){
          flex: 0 0 100%; /*round up 99.9998*/
        }
			}@else{
        @include responsive ('medium'){
          flex: 0 0 $width; /*round up 49.9998*/
        }
			}
			//padding-left:$gutter;
			//padding-right:$gutter;
		}
    /*
    .col.col-m-#{$i}:first-of-type{
			padding-left: 0px;
		}
		.col.col-m-#{$i}:last-of-type{
			padding-right: 0px;
		}
    */
    //Responsive small
    .col.col-s-#{$i}{
			@if $i == 6{
        @include responsive ('small'){
          flex: 0 0 50%; /*round up 49.9998*/
        }
			}@else if $i == 12{
        @include responsive ('small'){
          flex: 0 0 100%; /*round up 99.9998*/
        }
			}@else{
        @include responsive ('small'){
          flex: 0 0 $width; /*round up 49.9998*/
        }
			}
			//padding-left:$gutter;
			//padding-right:$gutter;
		}
    /*
    .col.col-s-#{$i}:first-of-type{
			padding-left: 0px;
		}
		.col.col-s-#{$i}:last-of-type{
			padding-right: 0px;
		}
    */
  }
}
