.margin-page{
    margin-left: var(--margin-page, 50px);
    margin-right: var(--margin-page, 50px);

    @include responsive('small'){
        margin-left: var(--margin-page-sm, 25px);
        margin-right: var(--margin-page-sm, 25px);
    }
}

.padding-page{
    padding-left: var(--padding-page, 50px);
    padding-right: var(--padding-page, 50px);

    @include responsive('small'){
        padding-left: var(--padding-page-sm, 25px);
        padding-right: var(--padding-page-sm, 25px);
    }
}